%br
%ul.list-unstyled.visitor-nav{style: 'text-weight: 200px'}
	%li.h5 ABOUT
	%li.h6= link_to 'About', about_path
	%li.h6= link_to 'Business', business_path

	%li.h5 COMMITMENTS
	%li.h6= link_to 'Our Promise', terms_path 
	%li.h6= link_to 'Terms of Service', terms_path
	%li.h6= link_to 'Privacy Policy', terms_path

	%li.h5 CONTACT
	%li.h6
		%a{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
	%li.h6
		%a{ href: "tel:+12345678987" } +41 79 216 38 28