%br
%ul.list-unstyled.visitor-nav
	%li.h3 ABOUT
	%li.h4= link_to 'About', about_path
	%li.h4= link_to 'Business', business_path

	%li.h3 COMMITMENTS
	%li.h4= link_to 'Our Promise', terms_path 
	%li.h4= link_to 'Terms of Service', terms_path
	%li.h4= link_to 'Privacy Policy', terms_path

	%li.h3 CONTACT
	%li.h4
		%a{ href: "mailto: talk@dokspot.com"} talk@dokspot.com
	%li.h4
		%a{ href: "tel:+12345678987" } +41 79 216 38 28