%h1 Listing instructions

%table
  %tr
    %th Product
    %th Language
    %th
    %th
    %th

  - product.instructions.each do |instruction|
    %tr
      %td= instruction.product.name
      %td= instruction.language.name
      %td= link_to t('show'), instruction
      %td= link_to t('edit'), edit_instruction_path(instruction)
      %td= link_to t('delete'), instruction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('new'), new_product_instruction_path(product) if policy(product.instructions.build).new?