%br
.text-right
  = link_to t('new.instruction'), new_product_instruction_path(product), class: 'btn btn-success btn-sm' if policy(Instruction.new(product: product)).new?
%br

%table.table.table-hover
  %tr
    %th Language
    -if user_signed_in?
      %th Published
      %th
    %th
    %th
    %th

  - if user_signed_in?
    - product.instructions.where(category: category).each do |instruction|
      %tr
        %td= instruction.language.name
        %td= render partial: "support/published", locals: {object: instruction}
        
        - if policy(instruction).primary?
          %td
            =link_to instruction_primary_path(instruction), class: 'btn btn-success btn-xs' do
              %span.glyphicon.glyphicon-file{title: 'Open Instruction'}
              = t('instructions.primary')
        
        - if policy(instruction).show?
          %td
            =link_to instruction_path(instruction), class: 'btn btn-default btn-xs' do
              %span.glyphicon.glyphicon-repeat{title: 'View History'}
              = t('instructions.history')
              
        - if policy(instruction).edit?
          %td
            =link_to edit_instruction_path(instruction), class: 'btn btn-warning btn-xs' do
              %span.glyphicon.glyphicon-edit{title: 'Edit'}
              = t('keywords.edit')
        
        %td= render "instructions/delete", instruction: instruction
  - else
    - product.instructions.published.where(category: category).each do |instruction|
      %tr
        %td= instruction.language.local.capitalize
        
        - if policy(instruction).primary?
          %td
            =link_to instruction_primary_path(instruction), class: 'btn btn-success btn-xs' do
              %span.glyphicon.glyphicon-file{title: 'Download Instruction'}
              = t('instructions.primary')
        
        - if policy(instruction).show?
          - if category != ['ifu', 1]
            %td
          - else
            %td
              =link_to instruction_path(instruction), class: 'btn btn-default btn-xs' do
                %span.glyphicon.glyphicon-repeat{title: 'View History'}
                = t('instructions.history')
            
        - if policy(instruction).order?
          - if category != ['ifu', 1]
            %td
          - else
            %td
              =link_to new_instruction_order_path(instruction), class: 'btn btn-primary btn-xs' do
                %span.glyphicon.glyphicon-envelope{title: 'Order Print'}
                = t('keywords.order')
%br