- title "#{@instruction.product.uuid} - #{@instruction.language.name}"

= render 'breadcrumbs'

.jumbotron
	%h2
		Document History
		%br
		%small= @instruction.category.upcase
		%br
		%small
			= @instruction.product.name
			= "-"
			= @instruction.language.name

= render partial: "documents/index", locals: { instruction: @instruction } if policy(Document.new(instruction: @instruction)).index?