%p#notice= notice

= render 'breadcrumbs'

.page-header
  %h1
    Instruction History
  %h4
    = @instruction.product.name
    = "-"
    = @instruction.language.name

= render partial: "documents/index", locals: { instruction: @instruction } if policy(Document.new(instruction: @instruction)).index?