= render 'breadcrumbs'

.jumbotron
  %h2
    Instruction History
    %br
    %small
      = @instruction.product.name
      = "-"
      = @instruction.language.name

= render partial: "documents/index", locals: { instruction: @instruction } if policy(Document.new(instruction: @instruction)).index?