%p#notice= notice

%p
  %b Product:
  = @instruction.product.name
%p
  %b Language:
  = @instruction.language.name

= link_to t('edit.instruction'), [:edit, @instruction]#edit_instruction_path(@instruction)
\|
= link_to t('delete.instruction'), @instruction, method: :delete, data: { confirm: I18n.t('instructions.destroy.warning') } if policy(@instruction).destroy?

= render partial: "documents/index", locals: { instruction: @instruction } if policy(Document.new(instruction: @instruction)).index?