%h1 Listing notifications

%table
  %tr
    %th Content
    %th Category
    %th Product
    %th Expiration
    %th Published
    %th
    %th
    %th
  
  - product.notifications.each do |notification|
    %tr
      %td= notification.content
      %td= notification.category
      %td= notification.product
      %td= notification.expiration
      %td= notification.published
      %td= notification.save
      //%td= link_to t('show'), notification_path(notification) if policy(notification).show?
      //%td= link_to t('edit'), edit_notification_path(notification)
      //%td= link_to t('destroy'), notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('new'), new_product_notification_path(product) if policy(product.notifications.build).new?