%br
.text-right
  = link_to t('new.notification'), new_product_notification_path(product), class: 'btn btn-success btn-sm' if policy(Notification.new(product: product)).new?
%br

%table.table.table-hover
  %tr
    %th Content
    %th Category
    %th Published
    %th
    %th
  
  - product.notifications.each do |notification|
    %tr{class: notification.category}
      %td= notification.content
      %td{class: "text-#{notification.category}"}
        = notification.category
      %td
        - if notification.published?
          - if product.published?
            = render "support/published"
          - else
            = render "support/not_visible"
        - else
          = render "support/not_published"
      %td= link_to t('keywords.edit'), edit_notification_path(notification), class: 'btn btn-warning btn-xs'
      %td= link_to t('keywords.delete'), notification, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

%br