%table.table.table-hover
  %tr
    %th Name
    %th Country
    %th Telephone
    %th Product
    %th Created At
    %th Status
    %th

  - Customer.callbacks.each do |callback|
    - product = Product.find_by uuid: callback.notes
    - if product.nil?
      - product = callback.product

    -#- product = Product.find_by uuid: callback.notes
    %tr
      %td= callback.full_name
      %td= callback.country
      %td= callback.telephone
      %td= link_to product.uuid, product
      %td= callback.created_at
      %td= callback.status
      %td= link_to "close", close_path(callback.id), class: "btn btn-primary btn-xs" if callback.status == 'open'