%h1 Listing documents

%table
  %tr
    %th Comment
    %th File
    %th Version
    %th
    %th
    %th

  - instruction.documents.each do |document|
    %tr
      %td= document.comment
      %td= document.file
      %td= document.version
      %td= link_to t('open'), document_download_path(document), class: 'download' if policy(document).download?
      %td= link_to t('delete'), document, :method => :delete, :data => { :confirm => 'Are you sure?' } if policy(document).destroy?

%br

= link_to t('new'), new_instruction_document_path(instruction) if policy(Document.new(instruction: instruction)).new?