= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :symbol
    = f.input :website
    = f.input :contact, as: :email
    = f.input :order_email, as: :email

  .form-actions
    = f.button :submit
