- title "Companies"

= render 'breadcrumbs'
      
/ NAV TABS
%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    = link_to "Companies", '#companies', role: 'tab', data: {toggle: 'tab'}
  %li
    = link_to "Leads", '#leads', role: 'tab', data: {toggle: 'tab'}
  %li
    = link_to "Call Backs", '#callbacks', role: 'tab', data: {toggle: 'tab'}

/ TAB PANES
%div.tab-content
  %div.tab-pane.active#companies
    = render partial: "companies/all"
  %div.tab-pane#leads
    = render partial: "customers/leads"
  %div.tab-pane#callbacks
    = render partial: "customers/callbacks"