
= render 'breadcrumbs'

.jumbotron
  .row
    .col-xs-8
      %h1
        = @company.name
        %br
        %small
          = @company.symbol.upcase
      %h4= link_to @company.website, @company.website
      - if current_user.admin?
        %h5
          Contact:
          = mail_to @company.contact, @company.contact
        %h5
          Orders:
          = mail_to @company.order_email, @company.order_email
    .col-xs-4.text-right
      .btn-group.btn-group-sm
        = link_to t('keywords.edit'), edit_company_path(@company), class: 'btn btn-warning' if policy(@company).edit?
        = link_to t('keywords.delete'), @company, method: :delete, data: { confirm: I18n.t('companies.destroy.warning') }, class: 'btn btn-danger' if policy(@company).destroy?
  
  %br

/ NAV TABS
%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    = link_to t('keywords.products'), '#products', role: 'tab', data: {toggle: 'tab'}
  %li
    = link_to t('keywords.users'), '#users', role: 'tab', data: {toggle: 'tab'}

/ TAB PANES
%div.tab-content
  %div.tab-pane.active#products
    = render partial: "products/index",  locals: { company: @company }
  %div.tab-pane#users
    = render partial: "users/index",     locals: { company: @company }