%p#notice= notice

%p
  %b Name:
  = @company.name
%p
  %b Symbol:
  = @company.symbol
%p
  %b Website:
  = @company.website
%p
  %b Contact:
  = @company.contact
%p
  %b Order email:
  = @company.order_email

= link_to 'Edit Company', edit_company_path(@company) if policy(@company).edit?
\|
= link_to 'Destroy Company', @company, method: :delete, data: { confirm: I18n.t('companies.destroy.warning') } if policy(@company).destroy?
\|
= link_to 'Back', companies_path if policy(Company).index?

= render partial: "products/index",  locals: { company: @company }
= render partial: "users/index",     locals: { company: @company }