%h3 New Lead

%h5 Name
%p= @customer.full_name

%h5 Company
%p= @customer.company

%h5 Telephone
%p= @customer.telephone

%h5 Email
%p= @customer.email

%h5 Note
%p= @customer.notes

%h6 the dokspot team