!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /%meta(http-equiv="Content-Typ" content="text/html; charset:=UTF-8")
    /= stylesheet_link_tag "application.css"
  %body
    
    .container-fluid
    
      .page-header.text-center
        %h3 Order Received!
        
      .lead
        .row
          .col-xs-12 
            %p= I18n.t("emails.new_order.greeting", name: @order.customer.full_name)
            
            %br
        
            %p.text-center= I18n.t("emails.new_order.message").html_safe
        
        .row.xs-padding-bottom
          .col-xs-12.text-center
            = link_to I18n.t("keywords.track"), order_path({id: @order.token, code: @order.code}), class: 'btn btn-success btn-lg'

        %br
        
        .row
          .col-xs-12.text-center
            %h3.xs-margin-top
              %small= I18n.t("keywords.signature").html_safe
              