.btn-group.btn-group-sm
  - if policy(product).edit?
    = link_to t('keywords.edit'), edit_product_path(product), class: 'btn btn-warning'
  - if policy(product).destroy?
    = link_to t('keywords.delete'), '', class: 'btn btn-danger', data: {toggle: 'modal', target: '#deleteProductModal'}
  
- if policy(product).destroy?
  .modal.fade#deleteProductModal{tabIndex: '-1', role: 'dialog', aria: {labelledby: 'deleteProductModal', hidden: true}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{data: {dismiss: 'modal'}, type: 'button'}
            %span{aria:{hidden:true}} &times;
            %span.sr-only Close
          %h4.modal-title.text-danger.text-center
            = t('keywords.warning')
        .modal-body.text-left
          %p= t('products.destroy.warning')
        .modal-footer
          %button.btn.btn-default{data:{dismiss:'modal'}} Close
          = link_to t('keywords.delete'), product, method: :delete, class: 'btn btn-danger'