= simple_form_for [@company, @product] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :published if current_user.admin? or current_user.manager?
    = f.association :company if current_user.admin?

  .form-actions
    = f.button :submit
