%br
.text-right
  = link_to t('new.product'), new_company_product_path(@company), class: 'btn btn-success btn-sm' if policy(Product.new(company: @company)).new?
%br
%table.table.table-hover
  %tr
    %th Name
    %th UUID
    %th Published
    %th

  - @company.products.each do |product|
    %tr
      %td= product.name
      %td= product.uuid
      %td= render partial: "support/published", locals: {object: product}
      %td= link_to t('keywords.show'), product, class: 'btn btn-primary btn-xs' if policy(product).show?