- title "- #{@product.uuid}"

= render 'breadcrumbs'

- if !user_signed_in?
  = render partial: 'notifications/display', locals: { product: @product }

.row
  .visible-xs-block
    = image_tag @product.company.logo.url, class: 'img-responsive', style: 'max-width: 256px;' if @product.company.logo?
    %br
    %br
  .col-sm-8
    .jumbotron
      = render partial: "delete", locals: {product: @product}
      %h3
        =@product.name
        %br
        %small
          = @product.uuid
          %br
          = render partial: "support/published", locals: {object: @product} if user_signed_in?
            
      %h4= @product.company.name if !user_signed_in?
  -#.col-xs-2.col-sm-4.pull-right
  .col-sm-4.hidden-xs
    = image_tag @product.company.logo.url, class: 'img-responsive' if @product.company.logo?
      
%br

/ NAV TABS
%ul.nav.nav-tabs{role: 'tablist'}
  - Instruction.categories.each_with_index do |val, index|
    %li{class: ("active" if index == 0)}
      =link_to t("#{val[0]}"), "##{val[0]}", role: 'tab', data: { toggle: 'tab' }
  - if user_signed_in?
    %li
      = link_to t('keywords.notifications'), '#notifications', role: 'tab', data: {toggle: 'tab'}
    %li
      = link_to t('keywords.resources'), '#resources', role: 'tab', data: {toggle: 'tab'}
    
/ TAB PANES
%div.tab-content
  - Instruction.categories.each_with_index do |val, index|
    %div.tab-pane(id="#{val[0]}"){class: ("active" if index == 0)}
      = render partial: "instructions/index", locals: { product: @product, category: val } if policy(Instruction.new(product: @product)).index?
  - if user_signed_in?
    %div.tab-pane#notifications
      = render partial: "notifications/index",  locals: { product: @product }
    %div.tab-pane#resources
      = render partial: "resources",  locals: { product: @product }
      
/ Call Back
- if !user_signed_in?
  .text-center
    %button.btn.btn-warning.btn-xs{data: { target: "#modalCallback", toggle: "modal" }, href: "" } 
      %span.glyphicon.glyphicon-earphone{title: 'Contact Manufacturer'}
      Contact Manufacturer
      
      
/ Call Back Modal
    
#modalCallback.modal.fade.pg-show-modal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-md
    .modal-content
      = simple_form_for(@customer, url: url_for(action: 'callback', controller: 'customers'), method: :post) do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title.text-center Contact Manufacturer
        .modal-body
          #callbackErrorMessage
          = f.error_notification
        
          .form-inputs
            .form-group
              .row
                .col-xs-12
                  = f.input :full_name, input_html: { class: 'form-control' }
              .row
                .col-sm-6
                  = f.input :country, input_html: { class: 'form-control' }
                .col-sm-6
                  = f.input :telephone, input_html: { class: 'form-control' }
              .row
                .col-sm-6
                  = f.input :email, input_html: { class: 'form-control' }
                .col-sm-6
                  = f.input :email_confirmation, input_html: { class: 'form-control' }
              .row
                .col-xs-12
                  = f.input :notes, as: :text, input_html: {class: 'form-control'}
              = f.hidden_field :product, value: @product.id
              /= f.hidden_field :product_id, value: @product.id
              
        .modal-footer
          %div#spinner-placeholder.pull-left
          %button.btn.pull-right.btn-success#callbackButton{ type: "submit" } Submit
