-if state == 1
  %body
    #wrap.vertical-center
      %header
        = render 'layouts/navigation'
      .container
        -#.row
          -#= render 'layouts/messages'
        = yield
      #push
    = render 'layouts/footer'
-elsif state == 2
  %body
    #wrap
      %header
        = render 'layouts/navigation'
      .container
        = render 'layouts/messages'
      = yield
      #push
    = render 'layouts/footer'
-else
  %body
    #wrap
      %header
        = render 'layouts/navigation'
      .container
        = render 'layouts/messages'
        = yield
      #push
    = render 'layouts/footer'