!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    
    %title
      dokspot - 
      =yield :title
    %meta{ name: 'keywords', content: meta_keywords } 
    %meta{ name: 'description', content: meta_description }
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = javascript_include_tag 'spin.min'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
    = favicon_link_tag 'favicon.ico'
  
  / Depending on what page you are visiting the platform has different styles the 'state' variable helps define what style should be applied
  -state = 0
  -if controller_name == 'visitors'
    -if action_name == 'index'
      -state = 1 
    -else
      -state = 2
  -elsif controller_name == 'sessions' or controller_name == 'passwords'
    -state = 1
  =render 'layouts/container', state: state