!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'dokspot'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Instructions for Use Platform'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrap
      %header
        = render 'layouts/navigation'
      = render 'layouts/messages'
      = yield
      #push
    = render 'layouts/footer'